:root{
--primary: #FF5C00;
--font: "Quicksand"
}
*{
    font-family: var(--font);
}
ul{
    list-style-type: none;
}
#logo{
    color:var(--primary);
}
#bg{
    background: var(--primary);
}
.ml-n5{
    margin-left: -30px;
}
